! special
*.foreground:   #a8a19f
*.background:   #1b1918
*.cursorColor:  #a8a19f

! black
*.color0:       #1b1918
*.color8:       #766e6b

! red
*.color1:       #f22c40
*.color9:       #f22c40

! green
*.color2:       #5ab738
*.color10:      #5ab738

! yellow
*.color3:       #d5911a
*.color11:      #d5911a

! blue
*.color4:       #407ee7
*.color12:      #407ee7

! magenta
*.color5:       #6666ea
*.color13:      #6666ea

! cyan
*.color6:       #00ad9c
*.color14:      #00ad9c

! white
*.color7:       #a8a19f
*.color15:      #f1efee

!! URxvt Appearance
URxvt.font: xfg:unifont:style=Regulat:size=12
URxvt.boldFont:  xfg:unifont:style=Regulat:size=12
URxvt.italicFont: xfg:unifont:style=Regulat:size=12
URxvt.boldItalicfont: xfg:unifont:style=Regulat:size=12
URxvt.letterSpace: 0
URxvt.lineSpace: 0
URxvt.geometry: 92x24
URxvt.internalBorder: 24
URxvt.cursorBlink: true
URxvt.cursorUnderline: false
URxvt.saveline: 2048
URxvt.scrollBar: false
URxvt.scrollBar_right: false
URxvt.urgentOnBell: true
URxvt.depth: 24
URxvt.iso14755: false

